.body {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 800px;
    background-color: rgb(75, 164, 241);
    margin-top: 5em;
    border-radius: 5px;
    border: 2px solid black;
}
.display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    background-color: aliceblue;
    margin: 1em 0 1.5em 0;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 60px;
    font-weight: bold;
}
.buttonBox {
margin-bottom: 1em;
}
.buttonContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    width: 360px;
    padding: 0px;
    border: 2px solid black;
}

.plus, 
.seven, 
.eight,
.nine,
.subtract,
.four,
.five, 
.six, 
.multiply, 
.one, 
.two, 
.three, 
.divide, 
.zero, 
.sum, 
.clear
{
    font-size: x-large;
    height: 90px;
    width: 90px;
}

.clear {
    background-color: rgb(255, 54, 54); 

}