.body {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 800px;
    background-color: rgb(75, 164, 241);
    margin-top: 5em;
    border-radius: 5px;
    border: 2px solid black;
}
.display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    background-color: aliceblue;
    margin: 1em 0 1.5em 0;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 60px;
    font-weight: bold;
}
.buttonBox {
margin-bottom: 1em;
}
.buttonContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    width: 360px;
    padding: 0px;
    border: 2px solid black;
}
.numberButton {
    height: 90px;
    width: 90px;
}
.clear {
    background-color: rgb(255, 54, 54); 
    font-size: x-large;
}
.plus {
    font-size: x-large;
}
.seven {
    font-size: x-large;
}
.eight {
    font-size: x-large;
}
.nine {
    font-size: x-large;
}
.subtract {
    font-size: x-large;
}
.four {
    font-size: x-large;
}
.five {
    font-size: x-large;
}
.six {
    font-size: x-large;
}
.multiply {
    font-size: x-large;
}
.one {
    font-size: x-large;
}
.two {
    font-size: x-large;
}
.three {
    font-size: x-large;
}
.divide {
    font-size: x-large;
}
.clear {
    font-size: x-large;
}
.zero {
    font-size: x-large;
}
.sum {
    font-size: x-large;
}